:root {
    --modal-overlay: #00000080;
    --primary-color: #58cc02;
    --primary-dark: #46a302;
    --golden-color3: #cd7900;
    --golden-color2: #f4980a;
    --golden-color1: #fbe56d;
    --secondary-color: #1cb0f6;
    --text-color: #3c3c3c;
    --light-gray: #e5e5e5;
    --error-color: #ff4b4b;
    --error-dark: #ea2b2b;
    --success-color: #58cc02;
    --duo-gray: #e5e5e5;
    --duo-bg-gray: #f7f7f7;
    --bg-color: #ffffff;
    --text-main: #4b4b4b;
    --text-secondary: #afafaf;
    --border-color: #e5e5e5;
    --polar: #f7f7f7;
    --swan: #e5e5e5;
    --hare: #afafaf;
    --wolf: #777777;
    --eel: #4b4b4b;
    --squid: #ebe3e3;
    --walking-fish: #ffdfe0;
    --flamingo: #ffb2b2;
    --pig: #f5a4a4;
    --crab: #ff7878;
    --cardinal: #ff4b4b;
    --fire-ant: #ea2b2b;
    --canary: #fff5d3;
    --duck: #fbe56d;
    --bee: #ffc800;
    --lion: #ffb100;
    --fox: #ff9600;
    --cheetah: #ffce8e;
    --monkey: #e5a259;
    --camel: #e7a601;
    --guinea-pig: #cd7900;
    --grizzly: #a56644;
    --sea-sponge: #d7ffb8;
    --turtle: #a5ed6e;
    --owl: #58cc02;
    --tree-frog: #58a700;
    --iguana: #ddf4ff;
    --anchovy: #d2e4e8;
    --beluga: #bbf2ff;
    --moon-jelly: #7af0f2;
    --blue-jay: #84d8ff;
    --macaw: #1cb0f6;
    --whale: #1899d6;
    --humpback: #2b70c9;
    --narwhal: #1453a3;
    --starfish: #ffaade;
    --beetle: #ce82ff;
    --betta: #9069cd;
    --butterfly: #6f4ea1;
    /* temp */
    --duo-green: #58cc02;
    --duo-green-dark: #46a302;
    --duo-green-hover: #61e002;
    --duo-blue: #26b3f6;
    --duo-blue-dark: #1899d6;
    --duo-blue-hover: #2cc0ff;
    --duo-yellow: #ffc800;
    --duo-red: #ff4b4b;
    --duo-gray: #e5e5e5;
    --duo-text: #4b4b4b;
    --duo-bg: #fefefe;
    --duo-bg-gray: #f7f7f7;
}

/* cyrillic-ext */
@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXX3I6Li01BKofIMNaORs71cA.woff2)
        format("woff2");
    unicode-range:
        U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXX3I6Li01BKofIMNaHRs71cA.woff2)
        format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXX3I6Li01BKofIMNaMRs71cA.woff2)
        format("woff2");
    unicode-range:
        U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
        U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
        U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXX3I6Li01BKofIMNaNRs71cA.woff2)
        format("woff2");
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
        U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Nunito";
    font-style: italic;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXX3I6Li01BKofIMNaDRs4.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXV3I6Li01BKofIOOaBXso.woff2)
        format("woff2");
    unicode-range:
        U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXV3I6Li01BKofIMeaBXso.woff2)
        format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXV3I6Li01BKofIOuaBXso.woff2)
        format("woff2");
    unicode-range:
        U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
        U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
        U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXV3I6Li01BKofIO-aBXso.woff2)
        format("woff2");
    unicode-range:
        U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
        U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
        U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 200 1000;
    font-display: swap;
    src: url(../assets/fonts/Nunito/XRXV3I6Li01BKofINeaB.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "MPlus";
    src: url("../assets/fonts/MPlus/MPLUSRounded1c-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MPlus";
    src: url("../assets/fonts/MPlus/MPLUSRounded1c-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MPlus";
    src: url("../assets/fonts/MPlus/MPLUSRounded1c-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MPlus";
    src: url("../assets/fonts/MPlus/MPLUSRounded1c-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

body > .general-loading-screen {
    overflow: hidden;
    touch-action: none;
}

.wrapper.dashboard {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

body:has(.general-loading-screen) div.wrapper {
    display: none;
}

body.onloading {
    touch-action: none;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}

.general-loading-screen {
    z-index: 1000000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    left: 0;
    pointer-events: none;
}

.general-loading-screen .general-loading-title {
    margin-top: 30px;
    text-align: center;
    color: var(--duo-dark-text);
    font-weight: 800;
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.loading-general-container-img {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.loading-general-img {
    height: 200px;
    animation: spin 1s linear infinite;
    filter: brightness(0) saturate(100%) invert(22%) sepia(0%) saturate(428%)
        hue-rotate(143deg) brightness(96%) contrast(93%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

[data-font="kana"], .kana-font {
    font-family: 'MPlus', sans-serif !important;
}
