body {
  background-color: #fff;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Navegação */
nav {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light-gray);
}

.btn-nav {
  background: none;
  border: none;
  color: #afafaf;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  transition: color 0.3s;
}

.btn-nav.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

main {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.progress-typing-container,
.progress-listening-container,
.progress-catalog-container {
  width: 100%;
  height: 16px;
  background-color: var(--light-gray);
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-learn-bar {
  height: 100%;
  background-color: var(--primary-color);
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.progress-catalog-bar {
  height: 100%;
  background-color: var(--secondary-color);
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.typing-area,
.listening-area {
  text-align: center;
  margin-top: 40px;
}

.question-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question-text-mobal {
  margin-bottom: 250px;
}

#current-char {
  font-size: 120px;
  font-weight: bold;
  margin: 40px 0;
  color: var(--text-color);
  transition: 0.5s;
}

#current-char.primary-color {
  transition: 0.5s;
  color: var(--primary-color);
}

#current-char.wrong-color {
  transition: 0.5s;
  color: var(--error-color);
}

.input-group {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid var(--light-gray);
  border-radius: 15px;
  text-align: center;
  outline: none;
  background-color: #f7f7f7;
}

input[type="text"]:focus {
  border-color: var(--secondary-color);
}

/* Botão de verificação */
.footer-action {
  padding: 20px;
  border-top: 2px solid var(--light-gray);
  width: 100%;
  max-width: 600px;
  background: white;
  position: sticky;
  bottom: 0;
}

.btn-check {
  margin-top: 10px;
}

.btn-check,
#btn-next-typing {
  width: 100%;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

#btn-next-typing {
  font-weight: 600;
}

.btn-check {
  box-shadow: 0 4px 0 var(--primary-dark);
  background-color: var(--primary-color);
}

.btn-next-wrong {
  background-color: var(--error-color);
  box-shadow: 0 4px 0 var(--error-dark);
}

.btn-next-correct {
  background-color: var(--primary-color);
  box-shadow: 0 4px 0 var(--primary-dark);
}

.btn-check:active,
#btn-next-typing:active {
  box-shadow: none;
  transform: translateY(4px);
}

.feedback-overlay {
  position: fixed;
  bottom: -200px;
  left: 0;
  width: 100%;
  padding: 40px 20px;
  transition: bottom 0.3s ease;
  z-index: 100;
}

.feedback-overlay.correct {
  background-color: #d7ffb8;
  color: #58a700;
  bottom: 0;
}

.feedback-overlay.wrong {
  background-color: #ffdfe0;
  color: #ea2b2b;
  bottom: 0;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.char-card {
  cursor: pointer;
  border: 2px solid var(--light-gray);
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 0 var(--light-gray);
  user-select: none;
  transition: 0.2s;
}

.card-finished {
  border: 2px solid var(--golden-color1);
  box-shadow: 0 4px 0 var(--golden-color1);
  background-color: #fff5d3;
  color: #cd7900;
}

.char-card:hover {
  transform: scale(1.05);
}

.char-card:active {
  background-color: #309eff;
  color: white;
  box-shadow: none;
}

.char-card .jp {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

.card-value {
  font-size: 14px;
  color: #b2b2b2;
  font-weight: bold;
}

.char-card:active .card-value {
  color: white;
}

/* Estilo para a tela de conclusão */
.finish-screen {
  text-align: center;
  padding: 40px 0;
}

.finish-screen h2 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

#total-score {
  font-weight: bold;
  user-select: none;
}

.feedback-msg {
  margin-bottom: 10px;
}

.letter-msg {
  font-size: 25px;
  font-weight: 700;
}

.trophy {
  width: 300px;
}

.progress-card-container {
  width: 100%;
  height: 8px;
  background-color: var(--light-gray);
  border-radius: 10px;
  overflow: hidden;
}

.progress-card-bar {
  height: 100%;
  background-color: var(--primary-color);
  width: 0%;
  transition: width 0.3s ease;
  border-radius: 10px;
}

.progress-card-wrapper {
  padding: 0 5px;
  margin-bottom: 5px;
}

.primary-color {
  color: var(--primary-color);
}

.golden-color3 {
  color: var(--golden-color3);
}

.golden-color2 {
  color: var(--golden-color2);
}

.golden-color1 {
  color: var(--golden-color2);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  color: var(--text-main);
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.levels-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.level-card {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  transition:
    transform 0.2s,
    border-color 0.2s;
  cursor: pointer;
  position: relative;
}

.level-card:hover {
  transform: translateY(-2px);
  border-color: var(--primary-color);
}

.level-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-info {
  flex-grow: 1;
}

.level-name {
  font-weight: bold;
  color: var(--text-main);
  font-size: 18px;
  display: block;
}

.level-score {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.rank-number {
  font-weight: 900;
  color: var(--text-secondary);
  font-size: 20px;
  min-width: 30px;
  text-align: right;
}

/* Estilo para o nível "Ativo" */
.level-card.active {
  border-color: var(--primary-color);
  background-color: rgba(88, 204, 2, 0.05);
}

.level-card.active .level-name {
  color: var(--primary-color);
}

/* Cores específicas para os escudos baseadas na liga */
.shield-svg {
  filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1));
}

#categories-container {
  margin-top: 20px;
}

.loading-img {
  height: 150px;
  animation: spin 1s linear infinite;
  filter: brightness(0) saturate(100%) invert(22%) sepia(0%) saturate(428%)
    hue-rotate(143deg) brightness(96%) contrast(93%);
}

.method-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.method-card {
  background-color: white;
  padding: 1.3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--light-gray);
  border-bottom: 6px solid var(--duo-gray);
  width: 7rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.method-disabled {
  pointer-events: none;
  background-color: var(--swan) !important;
  color: var(--hare);
}

.method-card:hover {
  color: white;
  transform: scale(1.1);
  border-color: transparent;
}

.method-card:nth-child(1):hover,
.progress-typing-catalog-bar {
  background-color: var(--betta);
}

.method-card:nth-child(2):hover,
.progress-listening-catalog-bar {
  background-color: var(--lion);
}

.method-card:nth-child(3):hover {
  background-color: var(--owl);
}

.method-card:nth-child(4):hover {
  background-color: var(--macaw);
}

.method-card:nth-child(5):hover {
  background-color: var(--starfish);
}

.method-card:nth-child(6):hover {
  background-color: var(--beetle);
}

.method-card:nth-child(7):hover {
  background-color: var(--cardinal);
}

.method-card:nth-child(8):hover {
  background-color: var(--grizzly);
}

.method-card:nth-child(9):hover {
  background-color: var(--turtle);
}

.method-card:nth-child(10):hover {
  background-color: var(--narwhal);
}

.method-card:nth-child(11):hover {
  background-color: var(--camel);
}

.method-card:nth-child(12):hover {
  background-color: var(--eel);
}

.method-card:nth-child(13):hover {
  background-color: var(--crab);
}

.method-char {
  display: block;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

#app-container:has(#learning-screen:not(.hidden)) {
  background-color: var(--duo-bg-gray);
}

.container-section-methods {
  margin-bottom: 50px;
}

.accordion-title {
  cursor: pointer;
  list-style: none;
}

.accordion-body {
  background-color: white;
  position: absolute;
  top: 60px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.accordion-container {
  position: relative;
}

#out-button {
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

#out-button:hover {
  background-color: var(--swan);
}

#out-button:active {
  color: white;
  background-color: var(--wolf);
}

.catalog-placeholder-container {
  display: flex;
  justify-content: center;
}

.catalog-placeholder-card {
  pointer-events: none;
  background-color: var(--polar);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-bottom: 8px solid var(--duo-gray);
  width: 250px;
  text-align: center;
}

.catalog-placeholder-char {
  display: block;
  font-size: 150px;
  font-weight: 700;
  color: var(--wolf);
}

.catalog-placeholder-label {
  color: var(--eel);
  font-size: 17px;
  display: block;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.drip-container {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 200px;
  overflow: hidden;
}

.drop {
  position: absolute;
  width: 200px;
  height: 22px;
  top: -28px;
  transform-origin: top center;
  animation: drip 2.2s cubic-bezier(0.35, 0.01, 0.25, 1) infinite;
}

.progress-catalog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.listening-grid {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.listening-card {
  background-color: white;
  color: var(--eel);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--light-gray);
  border-bottom: 6px solid var(--duo-gray);
  width: 6rem;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.listening-disabled {
  pointer-events: none;
  background-color: var(--swan) !important;
  color: var(--hare);
}

.listening-wrong {
  pointer-events: none;
  animation: listening-click-wrong 0.5s linear forwards;
}

.listening-correct {
  pointer-events: none;
  animation: listening-click-correct 0.5s linear forwards;
}

.listening-area {
  display: grid;
  grid-template-rows: 56px 90px auto;
  justify-items: center;
}

.btn-duo {
  display: inline-block;
  text-align: center;
  padding: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 30px;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  width: max-content;
}

.btn-duo:active {
  transform: translateY(4px);
  border-bottom-width: 0px;
  margin-top: 4px;
}

.btn-blue {
  background-color: var(--macaw);
  border-color: var(--humpback);
  color: white;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.btn-blue:hover {
  background-color: var(--moon-jelly);
}

.hidden {
  display: none !important;
}

.drawing-target-catalog-container {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.modal-catalog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-catalog-overlay.active {
  display: flex;
  opacity: 1;
}

.modal-catalog-container {
  background: white;
  width: 90%;
  max-width: 400px;
  border-radius: 24px;
  padding: 20px;
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.modal-catalog-overlay.active .modal-catalog-container {
  transform: scale(1);
}

.modal-catalog-action-btn {
  width: 100%;
  color: white;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-radius: 16px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    filter 0.2s,
    transform 0.1s;
}

.modal-catalog-action-btn:nth-child(1) {
  background-color: var(--macaw);
  border-bottom: 5px solid var(--narwhal);
}

.modal-catalog-action-btn:nth-child(2) {
  background-color: var(--hare);
  border-bottom: 5px solid var(--wolf);
}

.modal-catalog-action-btn:hover {
  filter: brightness(1.1);
}

.modal-catalog-action-btn:active {
  transform: translateY(3px);
  border-bottom-width: 2px;
}

.modal-catalog-header {
  display: flex;
  justify-content: flex-end;
}

#close-modal-catalog {
  cursor: pointer;
}

#close-modal-catalog:hover {
  filter: brightness(50%);
}

.drawing-target-catalog-main {
  min-width: 200px;
  min-height: 200px;
}
.modal-catalog-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-catalog-footer {
  display: flex;
  gap: 15px;
}

.catalog-display-romaji {
  color: var(--eel);
  font-size: 30px;
  position: relative;
  top: -30px;
}